<% return unless review.images.attached? %>
<% images = review.images.select { |i| i.blob.present? } many_images = images.size > 4
   cols = images.size == 1 ? 'grid-cols-1' : images.size == 2 ? 'grid-cols-2' : images.size == 3 ? 'grid-cols-3' : 'grid-cols-3 sm:grid-cols-4'%>
<div class="mt-2 w-full">
  <%# --- Swiper slider for medium+ screens --- %>
  <div class="hidden md:block" data-controller="swiper lightbox" data-swiper-options-value='{"slidesPerView": "auto","spaceBetween": 4,"freeMode": true}'>
    <div class="swiper h-[70px] w-full overflow-hidden cursor-grab active:cursor-grabbing">
      <div class="swiper-wrapper flex gap-1 pr-6">
        <% images.each do |image| %>
          <% full_w = image.blob.metadata[:width]  || 2000 %>
          <% full_h = image.blob.metadata[:height] || 2000 %>
          <% thumb = image.variant(resize_to_fill: [72, 72], saver: { quality: 70 }) %>

          <div class="swiper-slide !h-[70px]" style="width:70px; border-radius:10%; overflow:hidden;">
            <%= link_to(
              main_app.rails_blob_path(image, only_path: true),
              data: { pswp_width: full_w, pswp_height: full_h },
              class: "block w-full h-full overflow-hidden rounded-xl border border-gray-200"
            ) do %>
              <%= image_tag(
                main_app.rails_representation_path(thumb, only_path: true),
                width: 70,
                height: 70,
                loading: "lazy",
                decoding: "async",
                class: "w-full h-full object-cover rounded-xl"
              ) %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%# --- Grid for mobile / small screens --- %>
  <div class="md:hidden grid gap-1 <%= cols %>" data-controller="lightbox">
    <% images.each do |image| %>
      <% full_w = image.blob.metadata[:width]  || 2000 %>
      <% full_h = image.blob.metadata[:height] || 2000 %>
      <% thumb = image.variant(resize_to_fill: [72, 72], saver: { quality: 70 }) %>

      <%= link_to(
        main_app.rails_blob_path(image, only_path: true),
        data: { pswp_width: full_w, pswp_height: full_h },
        class: "aspect-square block overflow-hidden rounded-xl border border-gray-200",
        style: "border-radius: 10px;"
      ) do %>
        <%= image_tag(
          main_app.rails_representation_path(thumb, only_path: true),
          loading: "lazy",
          decoding: "async",
          class: "w-full h-full object-cover rounded-xl"
        ) %>
      <% end %>
    <% end %>
  </div>
</div>
