<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      
      <div class="text-center mb-5">
        <h1 class="h2 font-weight-bold mb-3"><%= Spree.t(:new_product_review) %></h1>
        <p class="text-muted">
          <%= Spree.t(:for) %> 
          <strong><%= link_to @product.name, spree.product_path(@product), class: "text-dark" %></strong>
        </p>
      </div>

      <% if @product_review.errors.any? %>
        <div class="alert alert-danger mb-4">
          <h4 class="alert-heading h6"><%= Spree.t(:error_saving_review) %></h4>
          <ul class="mb-0 pl-3">
            <% @product_review.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%# We reuse the existing form partial. We pass a nil section so defaults are used. %>
      <%= render 'form', 
            product: @product, 
            product_review: @product_review, 
            block: Spree::PageBlocks::ProductReviewForm.new, 
            section: nil %>

      <div class="text-center mt-4">
        <%= link_to Spree.t(:back_to_product), spree.product_path(@product), class: "text-muted" %>
      </div>

    </div>
  </div>
</div>
