<% colspan = 6 %> <!-- Fix: define colspan -->
<table class="table">
  <thead>
    <tr>
      <th><%= Spree.t(:status) %></th>
      <th><%= Spree.t(:email) %></th>
      <th><%= Spree.t(:review_title) %></th>
      <th><%= Spree.t(:product_review_rating) %></th>
      <th><%= Spree.t(:date) %></th>
      <th><%= Spree.t(:review_images) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "spree/admin/product_reviews/product_review", collection: @product_reviews, cached: spree_base_cache_scope %>
    <% if @product_reviews.empty? %>
      <tr>
        <td colspan="<%= colspan %>">
          <div class="text-muted p-5 d-flex align-items-center w-100 justify-content-center">
            <%= Spree.t(:no_resource_found, resource: Spree.t(:product_reviews)) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
